{{ include('_header.twig') }}

{#<h3>Wrong Guesses Left: {{game.wrongGuessesLeft}} </h3>#}
<div id="image">
  <img src="{{www}}img/{{game.imgFile}}" alt="guessesleft-{{game.wrongGuessesLeft}}"/>
</div>

<h1>
{% for letter in letters.wordline %}
  {{ letter }}
{% endfor %}
</h1>

<h3>Wrongs:
  {% for letter in letters.wrong %}
    {{ letter }}
  {% endfor %}
</h3>
{% if letters.status == '1' %}
  <h1 style="color: green;">You Won!</h1>
  <br/>
  <a href="{{ www }}game/" class="btn btn-primary">New Game</a>
{% else %}  
  {% if game.wrongGuessesLeft > '0' %}
  <br/>
  <form method="POST">
    Guess <input type="text" name="guess_form_letter" style="width: 50px; font-size: 20pt;" autofocus />
    <input type="hidden" name="guess_form" value="go" />
    <input type="submit" value="Guess" />
  </form>
  {% else %}
  <h1 style="color: red;">Game Over</h1>
  <h2>The word was: {{ game.word }}</h2>
  <br/>
  <a href="{{www}}game/" class="btn btn-primary">New Game</a>
  {% endif %}
{% endif %}

{% if danger is defined %}
  <br/>
  <div class="alert alert-danger col-lg-4 col-lg-offset-4">{{ danger }}</div>
{% endif %}

{#<div>Spoiler! The word is {{ game.word }}</div>#}

{{ include('_footer.twig') }}